@media(max-width: 1080px){
    #container-bios{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 480px){

    #tela{
        height: 300px;
        margin-top: 30px;
    }

    #cena{
        width: auto;
        transform: scale(-1.-2);
        transform-origin: center center;

    }

    #players{
        width: 60%;
    }

    .player{
        max-width: 40%;
    }

    #container-select{
        min-width: 70%;
    }

    #container-bios{
        width: 60vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        row-gap: 100px;
    }

}
