
@media(max-width: 480px){

    #tela{
        height: 300px;
    }

    #cena{
        width: auto;
        transform: scale(-1.-2);
        transform-origin: center center;

    }

    #players{
        width: 60%;
    }

    .player{
        max-width: 40%;
    }

    #container-select{
        min-width: 70%;
    }

}